@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  background-color: #F9FAFC;
}

.desktop-inner {
  //max-width: 1191px;
  //margin-left: 24%;
  //margin-right: 20px;
}

.profile-block-advert_inner {
  max-width: 852px;
  width: 100%;
}

.profile-block-advert {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 24px;
}

.profile-block-advert__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
  margin-bottom: 21px;
  display: block;
}

.main-page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper_green-border {
  border-bottom: 1px solid #CFE2D6 !important;
}

.btn.btn-grey {
  background: #EBEBEB;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.144616);
  border-radius: 24px;
  height: 43px;
  font-weight: 500;
  font-size: 20px;
  color: #3C3C3C;
  padding-left: 35px;
  padding-right: 35px;
}

.market-content {
  margin-top: 40px;
}

.title-page {
  font-weight: 500;
  font-size: 18px;
  color: #212121;
}

.market-block-settings {
  display: flex;
  margin-top: 19px;
  width: 100%;
}

.market-block-settings__select {
  display: flex;
  width: 100%;
}

.market-header {
  margin-top: 22px;
}

.main-content {
  position: relative;
}

@media (max-width: 1266px) {
  .profile-block-advert {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1085px) {
  .market-block-settings {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .profile-block-advert {
    grid-template-columns: repeat(1, 1fr);
  }
}