@import "../library.blocks/bootstrap/bootstrap-reboot";
@import "variable-color";

.transaction-turnover__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.transaction-turnover__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:last-child {
    margin-right: 25px;
  }

  &:nth-child(2) .transaction-turnover__block-name {
    margin-left: 16px;
  }
}

.transaction-turnover__block-name {
  font-size: 12px;
  line-height: 14px;
  color: #979797;
  font-weight: 500;
  position: relative;
  margin-left: 23px;

  &:last-child {
    margin-left: 0;
  }
}

.transaction-turnover__block-number {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #262628;
  margin-top: 8px;
}

.transaction-turnover_indents {
  padding-top: 9px;
  padding-bottom: 14px;
}

.transaction-turnover h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  color: #353535;
  margin-bottom: 10px;
}

.transaction-turnover__block-name_btc:before {
  content: '';
  position: absolute;
  left: -22px;
  background: #57CE85;
  border-radius: 5.5px;
  width: 8px;
  height: 8px;
  top: 3px;
}

.transaction-turnover__block-name_usd:before {
  content: '';
  position: absolute;
  left: -22px;
  background: #37985D;
  border-radius: 5.5px;
  width: 8px;
  height: 8px;
  top: 3px;
}

.transaction-turnover {
  .progress {
    border-radius: 0;
    height: 25px;

    .transaction-turnover_color-first {
      background-color: #57CE85;
    }

    .transaction-turnover_color-second {
      background-color: #37985D;
    }
  }
}

